*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.title {
    text-align: left;
    font-size: 2em;
    margin-left: .5em;
    margin-top: .5em;
}
.title:before{
    content:"Vista web";
}

#main {
    display: grid;
    width: 100%;
    height: 400px;
    grid-template-areas: "img" "aside";
    grid-template-columns: 490px 1fr;
    margin-top: 1em;
}

.columna-2 {
    margin: 70px 50px 0px 50px;
}

.columna-2 p {
    font-size:20px;
    margin-top: 1em;
}

.columna-1{
    background-image: url("queen.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    margin: 10px;
}

.columna-1 > button{
    border-radius: 50px 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: none;
    cursor: pointer;
    width: 90px;
    height: 90px;
}

.fas {
    font-size: 40px;
    margin: auto;
}

.columna-1 > button:hover {
    background-color:rgb(90, 90, 90);
}

/* RESPONSIVE TABLET */
@media (max-width: 760px) {
    #main {
        display: grid;
        width: 100%;
        height: 900px;
        grid-template-areas:
        "img"
        "aside";
        grid-template-columns:100%;
    }
    .columna-2 {
        margin:0;
    }
    .aside h2 {
        font-size: 2em;
        margin-top: .5em;
        margin-bottom: .5em;
    }
}
/* RESPONSIVE MOBILE */
@media (max-width: 460px) {
    #main {
        display: grid;
        width: 100%;
        height: 900px;
        grid-template-areas:
        "img"
        "aside";
        grid-template-columns:100%;
    }
    .columna-2 {
        margin:0;
    }
    .columna-2 h2 {
        font-size: 2em;
        margin-top: .5em;
        margin-bottom: .5em;
    }
    .title:before {
        content:"Vista mobile";
    }
}
